.character {
  border: 2px solid black;
}
.player {
  border: 2px solid lightgreen;
}
.enemy {
  border: 2px solid red;
}
img {
  margin: 10px;
  width: 150px;
  height: 150px;
}
h1 {
    font-family: "Schoolbell", cursive;
    font-size: 50pt;
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 10px;
}
p {
    font-family: 'Verdana';
}
button {
    margin: 5px 10px;
}