.character {
  border: 2px solid black;
}
.player {
  border: 2px solid lightgreen;
}
.enemy {
  border: 2px solid red;
}
img {
  margin: 10px;
  width: 150px;
  height: 150px;
}
h1 {
    font-family: "Schoolbell", cursive;
    font-size: 50pt;
    color: #DC3545;
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 10px;
}
p {
    font-family: 'Verdana';
}
button {
    margin: 5px 10px;
}
body {
    background: url("../images/Lego\ Bricks\ Background\ For\ lego\ brick\ background.jpg");
}
.container {
    background: white;
    margin-top: 25px;
    border: 2px solid black;
}